.wrapper {
	display : flex;
	flex-wrap: wrap;
	max-width : 180px;
	border : 1px solid #ccc;
}

.wrapper div {
	flex: 1 0 60px;
	display : flex;
	align-items: center;
	justify-content: center;
	max-width: 60px;
	height : 60px;
	border : 1px solid #ccc;
	font-size : 20px;
	text-transform: uppercase;
	box-sizing: border-box;
}

.wrapper div.winner {
	background-color : #ff0000;
	color : #fff;
}
